body {

	background: black;

}

#section1, #section2 {

	width: 100px;
	background: orange;
	position: absolute;
	top: 50px;
	left: 10%;
	margin: 50px;
	padding: 20px;
	font-size: 18px;
	color:#fff;

}

/*#section2 {

	top:3000px;

}

#section3 {

	top: 1000px;
	left: 500px;

}*/